<%= render 'guild_info' %>

<div id="blurb">
  <p>Hi! We are Presumptuous. Check out the <%= link_to 'forum', discussions_path %>!</a></p>
</div>

<!-- <%= render 'application_form' %>
hiding this for now until we've linked up with Discord. -->

<div id="images">
  <%= image_tag ('image_2.png'), :class => 'pic', :id => 'pic_1' %>
  <%= image_tag ('image_4.png'), :class => 'pic', :id => 'pic_2' %>
  <%= image_tag ('image_1.png'), :class => 'pic', :id => 'pic_3' %>
  <%= image_tag ('lazarus.jpg'), :class => 'pic', :id => 'pic_1' %>
  <%= image_tag ('hayley.jpg'), :class => 'pic', :id => 'pic_2' %>
  <%= image_tag ('baby_frog.jpg'), :class => 'pic', :id => 'pic_3' %>
</div>